<% include const/_const %>
<%
var id = "components";
var title = "";
var description = "sample text,sample tex";
var keywords = "word1,word2,word3";
var type = "blog";
%>
<% include metadata/_head %>
<% include layout/_l-header %>

<!--start l-contents-->
<div class="l-container u-clear">


    <div class="box">
        <%- include('module/_headline', { mf: 'headline-mb', text: 'category'}) %>
        <%- include('module/_category', { mf: 'category-a', text: 'Business'}) %>
        <%- include('module/_category', { mf: 'category-b', text: 'Lifehack'}) %>
        <%- include('module/_category', { mf: 'category-c', text: 'Technology'}) %>
    </div>

    <%- include('module/_border', {mf: ''}) %>

    <div class="box">
        <%- include('module/_headline', { mf: 'headline-mb', text: 'media'}) %>
        <% var mf = "", iMedia = 0; %>
        <% include module/_media %>
    </div>

    <%- include('module/_border', {mf: ''}) %>

    <div class="box">
        <%- include('module/_headline', { mf: 'headline-mb', text: 'sns'}) %>
        <%- include('module/_sns') %>
    </div>

    <%- include('module/_border', {mf: ''}) %>

    <div class="box">
        <%- include('module/_headline', { mf: 'headline-mb', text: 'button'}) %>
        <%- include('module/_button', { tag: 'button', link: '#', mf: '', text: 'button'}) %>
        <%- include('module/_button', { tag: 'button', link: '#', mf: 'button-main', text: 'button'}) %>
        <%- include('module/_button', { tag: 'a', link: '#', mf: 'button-sub', text: 'button'}) %>
        <%- include('module/_button', { tag: 'a', link: '#', mf: 'button-caution', text: 'button'}) %>
    </div>


</div>
<!--end l-contents-->

<% include layout/_l-footer %>
<% include metadata/_script %>